
:root {
    --sidebar-header-font-size: 1.8em;
    --sidebar-item-font-size: 1em;
}

#sidebar header {

    /* FONT */
    font-size: var(--sidebar-header-font-size); 
    font-weight: 600;

    /* SPACE */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    /* COLOR */
    color: white; 
    background-color: var(--default-black);

}

#sidebar li {

    /* SPACE */
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px; 

    /* COLOR */
    color: white; 
    background-color: var(--default-black);

    /* MOUSE CLICK */
    cursor: pointer;

    transition: 200ms;

}

#sidebar li:hover {

    background-color: var(--hover-gray);
    transition: 200ms;

}

#sidebar li p {

    font-size: var(--sidebar-item-font-size);
    font-weight: 400;
    line-height: 1.25rem;

    /* COLOR */
    color: white; 
    background-color: var(--default-black);

    text-decoration: none;

    transition: 200ms;

}

#sidebar li:hover p {

    font-size: 1.2rem; 
    
    background-color: var(--hover-gray);

    transition: 200ms;

}
